<%- include('component/header') %>

<br>
<br>
<br>
<div class="container col-4">
    <h1 class="my-5" style="text-align: center"> Add New Animal</h1>
    <p style="color: red; text-align: center">All input are required, if you do not know, please enter No or None!</p>

    <form id="xForm" onsubmit="onSubmit()" enctype="multipart/form-data" method="POST">
        <label for='firstname'>First name:</label>
        <input type="text" name="firstname" id="firstname">
        <p><label for='lastname'>Last name:</label>
            <input type="text" name="lastname" id="lastname">
        </p>
        <p><label for='year'>Year of Birth:</label>
            <input type="number" name="year" id="year">
        </p>
        <label for="myImage">Choose an image</label>
        <div >
            <input type="file" id="myImage" name="myImg" accept="image/*" required>
        </div>
        <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>
<!--    <form id="addNewAnimal" onsubmit="addNewAnimal()" enctype="multipart/form-data" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="name">Name:</label>-->
<!--            <input id="name" class="form-control" name="name" type="text" required="required" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="dob">Birthday:</label>-->
<!--            <input id="dob" class="form-control" name="dob" type="date" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="petType">Pet Type:</label>-->
<!--            <select id="petType" class="form-control" name="petType">-->
<!--                <option value="Birds" selected>Birds</option>-->
<!--                <option value="Cats">Cats</option>-->
<!--                <option value="Dogs">Dogs</option>-->
<!--                <option value="Fish">Fish</option>-->
<!--                <option value="Horses">Horses</option>-->
<!--                <option value="Poultry">Poultry</option>-->
<!--                <option value="Rabbits">Rabbits</option>-->
<!--                <option value="Reptiles">Reptiles</option>-->
<!--                <option value="Rodents">Rodents</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="petBreed">Pet Type:</label>-->
<!--            <select id="petBreed" class="form-control" name="petBreed">-->
<!--                <option value="Labrador" selected>Labrador</option>-->
<!--                <option value="Bulldog">Bulldog</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="owner">Owner:</label>-->
<!--            <input id="owner" class="form-control" name="owner" type="text" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="owner">telephone (only number):</label>-->
<!--            <input id="owner" class="form-control" name="owner" type="text" oninput = "value=value.replace(/[^\d]/g,'')" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="street">Street:</label>-->
<!--            <input id="street" class="form-control" name="street" type="text" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="town">Town:</label>-->
<!--            <input id="town" class="form-control" name="town" type="text" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="country">Country:</label>-->
<!--            <input id="country" class="form-control" name="country" type="text" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="postcode">Postcode:</label>-->
<!--            <input id="postcode" class="form-control" name="postcode" type="text" required="required">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="postcode">Detail:</label>-->
<!--            <textarea rows="6" id="postcode" class="form-control" name="postcode" type="text" required="required"></textarea>-->
<!--        </div>-->
<!--        <p><input type="submit" name="g" value="Submit" id="g"></p>-->
<!--    </form>-->
</div>
<br>
<br>
<br>

</body>
</html>
