<!DOCTYPE html>
<html lang="en">
<head>
    <title>Animal Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/mycommon.js"></script>
    <script src="/javascripts/index_page.js"></script>
</head>
<body>
<header class="mb-5">
    <%- include('header') %>
</header>
<main>
    <div>
        <p><%= animal %></p>
    </div>
</main>

<footer class="text-muted bg-indigo" id="footer">
    <%- include('footer') %>
</footer>
</body>
</html>
