<div class="container">
    <p class="float-right">
        <a class="nav-link navbar-dark" href="#">Back to top</a>
    </p>
    <p>Pets Home is empowered by © <a href="https://getbootstrap.com/">Bootstrap</a> and © <a
                href="https://mdbootstrap.com/education/bootstrap/">MDBootstrap.com</a></p>
    <p>Author: Nick A Edge, Qijia Zhang, Sicong Teng</p>
</div>
