<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.css'/>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container">
    <div class="row m-5">
        <h1><%= title %></h1>
    </div>
    <div class="row m-3">
        <p>Welcome to <%= title %></p>
    </div>
    <div class="row m-3">
        <h1>My First Bootstrap Page</h1>
    </div>


</div>
</body>
</html>
